/* header */

.baslık {
  background-color: rgb(247, 153, 119);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.header-search {
  border: 2px solid black;
  border-radius: 25px;
  padding-right: 5rem;
  padding-top: 10px;
}
.header-link a,
.header-logo a,
footer a {
  text-decoration: none;
  padding: 10px;
}
.header-link a:hover,
.header-logo a:hover,
footer a:hover {
  text-decoration: underline;
  color: red;
}

/* header */

/* body */

section {
  display: flex;
}
aside {
  background-color: rgb(93, 131, 133);
  flex: 300px;
  padding: 2rem;
}
aside .konu {
  display: flex;
  margin: 10px;
  padding: 0;
}
main {
  background-color: rgb(167, 190, 233);
  display: flex;
  flex: 700px;
}
main .resim {
  padding-right: 10px;
}
img {
  width: 200px;
  height: 100%;
}
main div {
  text-align: justify;
}

/* body */

/* footer */

footer {
  background-color: rgb(226, 190, 100);
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
}
footer div a {
  padding-right: 1rem;
}

/* footer */
