:root {
  --color1: #e7c4ff;
  --color2: #ffedff;
  --color3: #7d03a5;
  --sub-menu-width: 150px;
}
nav.menu {
  background-color: var(--color2);
  text-align: center;
}
/* tüm ul ler */
nav.menu ul {
  list-style-type: none;
  margin: 0;
}
/* 1. seviye elemenlrı ynayna getirmek için */
nav.menu > ul > li {
  display: inline-block;
}

/*  tüm li ler için  */
nav.menu > ul li {
  position: relative;
}
/* ilk seviye menu den sonarkı menuleri secer */
nav.menu > ul > li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 2.1rem;
  text-align: left;
  border: solid 1px var(--color1);
  width: var(--sub-menu-width);
}
/* 3. ve sonrakı seviye listeleri yana açılması için*/
nav.menu > ul li > ul > li ul {
  left: var(--sub-menu-width);
  top: 0;
}
/*  tum a tagları ıcın */
nav.menu a {
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  font-weight: bold;
}
/* li lere hover vernce child olan ul lrı göstermek ıcn */
nav.menu li:hover > ul {
  display: inline-block;
}

/* ilk seviye li ler */
nav.menu > ul > li {
  background-color: var(--color1);
}
nav.menu > ul > li:hover {
  background-color: var(--color3);
}
nav.menu > ul > li:hover > a {
  color: white;
}
nav.menu > ul > li li a:hover {
  background-color: #e7c4ff;
}
